<div class="container marketing">
  
  <div class="row">
    <div class="span4">
      <img class="img-circle" data-src="holder.js/140x140">
      <h2>Szukasz Partnera?</h2>
      <p>Szukasz partnera do brydża? Przejrzyj ogłoszenia innych brydżystów lub zamieść swoje.</p>
      <p><%= link_to 'Przejrzyj ogłoszenia »', ads_path, class: "btn btn-large btn-block btn-success" -%></p>
      <p><%= link_to 'Dodaj ogłoszenie »', new_ad_path, class: "btn btn-large btn-block" -%></p>
    </div>
    <div class="span4">
      <img class="img-circle" data-src="holder.js/140x140">
      <h2>Chcesz Zagrać?</h2>
      <p>Poszukaj okazji do zagrania w Twojej okolicy, lub zaproponuj własne wydarzenie. </p>
      <p><%= link_to 'Znajdź wydarzenie »', events_path, class: "btn btn-large btn-block btn-success" -%></p>
      <p><%= link_to 'Zorganizuj spotkanie »', new_event_path, class: "btn btn-large btn-block" -%></p>
    </div>
  </div>

  <hr class="featurette-divider">

  <footer>
    <p>&copy; Czwarty do Brydża 2013</p>
  </footer>

</div>
