<!-- Carousel
     ================================================== -->
<div id="myCarousel" class="carousel slide">
  <div class="carousel-inner">
    <div class="item">
      <%= image_tag 'slide-01.jpg' -%>
      <div class="container">
        <div class="carousel-caption">
          <h1>Chcę zagrać w Brydża!</h1>
          <p class="lead">Zaproś znajomych na partyjkę, lub znajdź nowych brydżowych kolegów w Twojej okolicy.</p>
        </div>
      </div>
    </div>
    <div class="item active">
      <%= image_tag 'slide-02.jpg' -%>
      <div class="container">
        <div class="carousel-caption">
          <h1>Szukam partnera!</h1>
          <p class="lead">Jesteś singlem? Przejrzyj ogłoszenia innych brydżystów lub dodaj własne. Znajdź swoją drugą połówkę, chodźby na jedną rozgrywkę ;). </p>
        </div>
      </div>
    </div>
    <div class="item">
      <%= image_tag 'slide-03.jpg' -%>      
      <div class="container">
        <div class="carousel-caption">
          <h1>Mogę być nawet Dziadkiem!</h1>
          <p class="lead">Szukasz okazji do gry? Przejrzyj ogłoszenia o brydżowych imprezach w okolicy, lub zorganizuj swoje. </p>
        </div>
      </div>
    </div>
  </div>
  <a class="left carousel-control" href="/#myCarousel" data-slide="prev">‹</a>
  <a class="right carousel-control" href="/#myCarousel" data-slide="next">›</a>
</div><!-- /.carousel -->


